.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App .layout {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 800px){
    flex-direction: column;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrong-bg {
  border: 1px solid #ff4d4d;
  background-color:  #ffe6e6;
  color: red;
}

.correct-bg {
  border: 1px solid #4dff4d;
  background-color: #e6ffe6;
  color: #00cc00;
}

.auto-height {
  height: 50vh;

  @media screen and (max-width: 800px) {
    height: 30vh;
  }
}
